@use "../../scss-utils/mixins/media" as bp;

.default-link{
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--blue);
  transition: .3s;
  &:hover {
    @include bp.media-up(lg) {
      color: var(--red);
    }
  }

  &.link-underline{
    text-decoration: underline;
  }

  &.link-red{
    color: var(--red);
    &:hover {
      @include bp.media-up(lg) {
        color: var(--yellow);
      }
    }
  }
}