@use "../../scss-utils/mixins/media" as bp;

.primary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  font-family: var(--ff-secondary);
  font-size: 25px;
  line-height: 120%;
  font-weight: 400;
  transition: 0.3s;
  background: var(--red);
  gap: 10px;
  min-height: 60px;
  padding: 10px 15px;
  border-radius: 350px;
  min-width: 310px;
  @include bp.media-down(lg){
    min-height: 54px;
  }

  .symbol{
    width: 28px;
    height: 28px;
    min-width: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    svg{
      width: 28px;
      height: 28px;
      object-fit: contain;
      fill: var(--white);
    }
  }

  &:hover {
    @include bp.media-up(lg) {
      background: var(--yellow);
    }
  }

  @include bp.media-down(xm){
    min-width: auto;
    width: 100%;
  }
}