@use "./scss-utils/mixins/media" as bp;

:root {
  //   === Colors
  --white: #FFFCFA;
  --black: #000;
  --oil: #2D1E17;
  --judge_gray: #523F31;
  --roman_coffee: #796254;
  --pale_oyster: #9D8A7C;
  --red: #ff1e0d;

  // === Topography variables
  --ff-primary: "CityBoysSoft", sans-serif;
  --ff-secondary: "Lust Pro Didone", sans-serif;
  --font-size: 18px;

  // === Theming variables
  --bg-primary: var(--white);
  --text-color-primary: var(--oil);

  // === JS Controlling variables
  --header-height: 140px;
  --scrollbar-width: 0px;

  @include bp.media-down(lg) {
    --header-height: 75px;
  }
}
