@use "./scss-utils/mixins/media" as bp;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

html {
  font-family: var(--ff-primary);
  font-size: var(--font-size);
  font-weight: normal;
  line-height: 125%;
  font-weight: 500;
  color: var(--blue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  padding-right: var(--current-scrollbar-width);
  background: var(--white);

  &._lock {
    overflow: hidden;
  }

  &.menu-lock{
    @include bp.media-down(lg){
      overflow: hidden;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

p {
  margin: 0;
}

a {
  color: var(--black);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  padding: 0;

  cursor: pointer;

  background-color: initial;
  border: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: none;
}

section {
  position: relative;
}

input,
select,
button,
textarea {
  font: inherit;
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

fieldset {
  min-inline-size: min-content;
  padding: 0;
  margin: 0;

  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-image: none;
}

#app {
  position: relative;

  display: flex;

  flex-direction: column;

  max-width: 100vw;
  min-height: 100vh;
}

.content {
  position: relative;
  z-index: 1;
  flex: 1 0 auto;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-right: 70px;
  padding-left: 70px;
  margin: 0 auto;
  @include bp.media-down(lg){
    padding-left: 20px;
    padding-right: 20px;
  }
}

.important_none {
  display: none;
}

.global-section{
  width: 100%;
  position: relative;
  padding: 60px 0;
  &.s-py-100{
    padding: 100px 0;
    @include bp.media-down(lg){
      padding: 60px 0;
    }
  }
  &.s-py-150{
    padding: 150px 0;
    @include bp.media-down(lg){
      padding: 70px 0;
    }
  }
  &.s-py-75{
    padding: 75px 0;
    @include bp.media-down(lg){
      padding: 35px 0;
    }
  }
}

.section-heading{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px 37px;
  margin-bottom: 40px;
  @include bp.media-down(xl){
    flex-direction: column;
    align-items: flex-start;
  }
  @include bp.media-down(lg){
    margin-bottom: 30px;
  }
}

.section-heading-title__box{
  width: fit-content;
  position: relative;
  @include bp.media-down(xl){
    width: 100%;
  }
}

.section-heading__info{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 640px;
  @include bp.media-down(xxl){
    max-width: 570px;
  }
  @include bp.media-down(xl){
    max-width: none;
  }
}

.section-heading__description{
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--blue);
}

.section-heading__btns{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px 20px;
  flex-wrap: wrap;
  .section-heading-btn{
    width: calc(50% - 10px);
    min-width: auto;
    @include bp.media-down(sm){
      width: 100%;
    }
  }
}

.pt-header-height{
  padding-top: var(--header-height);
}