@use "../../scss-utils/mixins/media.scss" as bp;

.form-field{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &._invalid{
    .form-field__error{
      opacity: 1;
      visibility: visible;
      transform: translateY(110%);  
    }
    .form-field__input, .form-field__textarea{
      border-color: var(--red) !important;
      color: var(--red) !important;
      opacity: 1;
      &::placeholder{
        color: var(--red) !important;
      }
    }
  }

  &__list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:  20px;
    @include bp.media-down(lg){
      gap: 16px;
    }
  }

  &__input-wrapp{
    width: 100%;
    position: relative;
  }

  &__input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #523F3133;
    transition: .3s;
    color: var(--pale_oyster);
    min-height: 37px;
    background: transparent;
    outline: none;
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.05em;
    position: relative;
    z-index: 1;
    padding: 5px 0 10px;
    @include bp.media-down(lg){
      font-size: 16px;
    }

    &::placeholder{
      color: var(--pale_oyster);
    }

    &:focus{
      border-color: var(--oil);
    }
    -moz-appearance: none; /* Remove default appearance in Firefox */
    appearance: none; /* Cross-browser compatibility */
  }

  &__textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid #523F3133;
    transition: .3s;
    color: var(--pale_oyster);
    height: 85px;
    background: transparent;
    outline: none;
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.05em;
    position: relative;
    z-index: 1;
    padding: 5px 0 15px;
    @include bp.media-down(lg){
      font-size: 16px;
      height: 66px;
    }

    &:focus{
      border-color: var(--oil);
    }

    &::placeholder{
      color: var(--pale_oyster);
    }
  }

  &__text{
    width: 100%;
    padding: 5px 0 10px;
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: var(--oil);
    border-bottom: 1px solid #523F3133;
    @include bp.media-down(lg){
      font-size: 16px;
    }

    p{
      max-width: calc(100% - 40px);
    }
  }
  &__error{
    position: absolute;
    bottom: 0;
    opacity: 0;
    z-index: 0;
    visibility: hidden;
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: var(--red);
    transition: .2s;
  }

  &__icon{
    width: 24px;
    height: 24px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 50%;
    transform: translateY(-60%);
    z-index: 1;
    background: transparent;
    pointer-events: none;
    svg{
      width: 24px;
      height: 24px;
      object-fit: contain;
      fill: var(--roman_coffee);
      transition: .3s;
      background: #F7F4F2;
      &.stroke{
        fill: transparent;
        stroke: var(--roman_coffee);
        stroke-width: 1.5px;
      }
    }
  }
}

input[type='date']::-webkit-calendar-picker-indicator, input[type='time']::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

