@use "../scss-utils/mixins/media" as bp;

.choose{
  &-section{
    position: relative;
    z-index: 1;
  }
  &-bg__img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    object-fit: cover;
    @include bp.media-down(sm){
      display: none;
    }
  }

  &-bg-mobile__img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    object-fit: cover;
    @include bp.media-up(sm){
      display: none;
    }
  }

  &__box{
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    @include bp.media-down(xl){
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &-title{
    width: 300px;
    min-width: 300px;
    @include bp.media-down(xl){
      width: auto;
      min-width: auto;
    }
  }

  &-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 40px;
    @include bp.media-down(xl){
      gap: 20px;
    }
  }

  &-item_wrapp{
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &:nth-child(3n-2){
      @include bp.media-up(xl){
        width: 100%;
        align-items: center;
        .choose-item{
          width: 34%;
          max-width: calc(34% - 20px);
        }
      }
    }
    &:nth-child(3n){
      @include bp.media-up(xl){
        align-items: flex-end;
      }
    }
    @include bp.media-up(xl){
      .choose-item{
        width: 71%;
        max-width: calc(71% - 20px);
      }
    }
    @include bp.media-down(xl){
      width: calc(33.33333% - (40px / 3));
    }
    @media(max-width:900px){
      width: calc(50% - 10px);
    }
    @include bp.media-down(sm){
      width: 100%;
    }
  }

  &-item{
    width: 100%;
    max-width: 310px;
    min-height: 350px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(217, 217, 218, 0.3);
    backdrop-filter: blur(2.5px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    height: 100%;
    @include bp.media-down(xl){
      max-width: none;
    }
  }

  &-item__photo{
    width: 86px;
    height: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    img{
      width: 100%;
      height: auto;
      pointer-events: none;
      object-fit: contain;
    }
  }

  &-item__name{
    font-family: var(--ff-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
  }

  &-item__description{
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: var(--white);
  }
}