@use "../scss-utils/mixins/media" as bp;

.footer{
  width: 100%;
  position: relative;
  padding-block: 75px 40px;
  @include bp.media-down(lg){
    padding-block: 65px 30px;
  }

  &-title{
    text-align: left !important;
    margin-bottom: 20px;
    @include bp.media-down(lg){
      margin-bottom: 15px;   
    }
  }

  &-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 100px 200px;
    border-top: 1px solid #9D8A7C1A;
    padding-top: 30px;
    position: relative;
    @include bp.media-down(lg){
      padding-top: 25px;   
      gap: 15px 20px;   
    }
  }

  &-box__col{
    width: calc(50% - 100px);
    display: flex;
    flex-direction: column;

    @include bp.media-down(lg){
      width: calc(50% - 10px);
    }

    &.logo-col{
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: fit-content;
      @include bp.media-down(lg){
        position: relative;
        bottom: unset;
        left: unset;
        transform: translateX(0);
        width: calc(50% - 10px);
      }
    }
    &.tablet-full-col{
      @include bp.media-down(lg){
        width: 100%;
      }
    }

    &.copyright-col{
      @include bp.media-down(lg){
        order: 100;
      }
    }
  }

  &-logo{
    width: 155px;
    min-width: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
      height: auto;
      object-fit: contain;
      pointer-events: none;
    }

    @include bp.media-down(lg){
      width: 110px;
      min-width: 110px;
      margin-left: auto;
    }
  }

  &-menu{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 30px;

    li{
      display: inline-flex;
    }
    @include bp.media-down(lg){
      gap: 15px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-menu__link{
    cursor: pointer;
    transition: .3s;
    width: fit-content;
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: var(--oil);
    &:hover{
      @include bp.media-up(lg){
        color: var(--pale_oyster);
      }
    }

    @include bp.media-down(lg){
      font-size: 16px;
    }
  }

  &__socials{
    display: inline-flex;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 28px;
    li{
      display: inline-flex;
      align-items: center;
      line-height: 1;
    }
    @include bp.media-down(lg){
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      margin-top: 15px;
    }
  }

  &-socials__link{
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: var(--pale_oyster);
    transition: .3s;
    &:hover{
      @include bp.media-up(lg){
        color: var(--oil);
      }
    }
    @include bp.media-down(lg){
      font-size: 16px;
    }
  }

  &__contacts{
    display: flex;
    width: 100%;
    max-width: 310px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-left: auto;
    li{
      display: inline-flex;
      align-items: center;
      line-height: 1;
    }

    @include bp.media-down(lg){
      margin-top: 35px;
      max-width: none;
      align-items: center;
      gap: 15px;
    }
  }

  &-contacts__link{
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: var(--oil);
    text-align: center;
    transition: .3s;
    &:hover{
      @include bp.media-up(lg){
        color: var(--pale_oyster);
      }
    }
    @include bp.media-down(lg){
      text-align: center;
      font-size: 16px;
    }
  }

  &-copyright{
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: var(--pale_oyster);
    @include bp.media-down(lg){
      text-align: center;
      font-size: 16px;
    }
  }
}