@use "../scss-utils/mixins/media" as bp;

.hero{
  &-section{
    padding: 100px 0 75px;
    @include bp.media-down(lg){
      padding: 50px 0 35px;
    }
  }

  &-title{
    font-family: var(--ff-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 148px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--yellow);
    @include bp.media-down(xxl){
      font-size: 100px;
    }

    @include bp.media-down(lg){
      font-size: 65px;
    }
  }

  &-banner{
    width: 100vw;
    height: 570px;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    @media(min-width:1500px){
      height: auto;
      aspect-ratio: 2.5 / 1;
      max-height: 700px;
    }
    @include bp.media-down(lg){
      margin-bottom: 30px;
      height: 450px;
    }
    @include bp.media-down(md){
      height: 380px;
    }
    @include bp.media-down(sm){
      height: 200px;
    }
    img{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      pointer-events: none;
    }
  }

  &-advantages{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
  }

  &-advantage{
    width: calc(33.33333% - (40px / 3));
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
    @include bp.media-down(lg){
      width: calc(50% - 10px);
      gap: 10px;
    }
    @include bp.media-down(md){
      width: 100%;
    }
  }

  &-advantage__title{
    font-family: var(--ff-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--blue);
  }

  &-advantage-description{
    width: 100%;
    margin-top: auto;
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: var(--blue);
  }
}

.hero-banner-with-stairs{
    margin-top:50px;
}
