@use "./header";
@use "./nav";

@use "./hero";
@use "./about";
@use "./products-home";
@use "./blog-section";
@use "./banner-overview";
@use "./faq";
@use "./appointment";

@use "./catalog";

@use "./footer";