@use "../scss-utils/mixins/media" as bp;

.nav{
  width: 100%;
  display: flex;
  align-items: center;

  &_links{
    display: inline-flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    @include bp.media-down(lg){
      gap: 20px;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 66px;
    }
  }

  &_item{
    display: inline-flex;
    flex-direction: column;
    position: relative;

    &._active{
      .nav_link{
        color: var(--pale_oyster);
        svg{
          fill: var(--pale_oyster);
          transform: rotate(0deg);
          @include bp.media-down(lg){
            fill: var(--oil);
          }
        }
        @include bp.media-down(lg){
          color: var(--oil);
        }
      }
      .nav_submenu{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        @include bp.media-down(lg){
          display: flex;
        }
      }
    }
  }

  &_link{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    width: fit-content;
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: var(--oil);
    &:hover{
      @include bp.media-up(lg){
        color: var(--pale_oyster);
        svg{
          fill: var(--pale_oyster);
        }
      }
    }

    @include bp.media-down(lg){
      text-transform: uppercase;
      justify-content: center;
      font-size: 16px;
      width: 100%;
    }
  }

  a.nav_link{
    @include bp.media-down(lg){
      width: fit-content;
    }
  }

  &_arrow{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      object-fit: contain;
      width: 24px;
      height: 24px;
      fill: var(--oil);
      transition: .3s;
      transform: rotate(180deg);
    }
  }

  &_submenu{
    position: absolute;
    bottom: -11px;
    left: 0;
    transform: translateY(100%);
    z-index: 1;
    background: var(--white);
    padding: 10px 10px 15px;
    width: 160px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    @include bp.media-down(lg){
      position: relative;
      bottom: 0;
      left: 0;
      transform: translateY(0);
      width: 100%;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      padding: 10px;
      display: none; 
    }
  }

  &_submenu-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &_submenu__item{
    width: 100%;
    display: flex;
    align-items: center;
  }

  &_submenu__link{
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: var(--pale_oyster);
    transition: .3s;
    &:hover{
      @include bp.media-up(lg){
        color: var(--oil);
      }
    }
    @include bp.media-down(lg){
      font-size: 16px;
      color: var(--roman_coffee);
    }
  }
}