@use "../../scss-utils/mixins/media" as bp;

.primary-link {
  color: rgba(255, 255, 255, 1);
  font-family: var(--ff-primary);
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  transition: 0.2s;
  background: linear-gradient(252.11deg, #f469c8 -0.52%, #fab72b 99.91%);
  background-clip: text;
  -webkit-background-clip: text;

  &:hover {
    @include bp.media-up(lg) {
      color: rgba(255, 255, 255, 0);
    }
  }
}
