@font-face {
  font-family: 'CityBoysSoft';
  src: url('./fonts/CityBoysSoft-Light.eot');
  src: url('./fonts/CityBoysSoft-Light.eot?#iefix') format('embedded-opentype'),
      url('./fonts/CityBoysSoft-Light.woff2') format('woff2'),
      url('./fonts/CityBoysSoft-Light.woff') format('woff'),
      url('./fonts/CityBoysSoft-Light.ttf') format('truetype'),
      url('./fonts/CityBoysSoft-Light.svg#CityBoysSoft-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lust Pro Didone';
  src: url('./fonts/LustProDidone-No3.eot');
  src: url('./fonts/LustProDidone-No3.eot?#iefix') format('embedded-opentype'),
      url('./fonts/LustProDidone-No3.woff2') format('woff2'),
      url('./fonts/LustProDidone-No3.woff') format('woff'),
      url('./fonts/LustProDidone-No3.ttf') format('truetype'),
      url('./fonts/LustProDidone-No3.svg#LustProDidone-No3') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}